.links {
  text-decoration: none;
}

.dropdown{
  position: relative;
}

.dropdown_menu{
  position: absolute;
  top: 0;
  left: 0;
  width:12rem;
  translate: -50% 7%;
  visibility: hidden;
}

.dropdown_hover:hover .dropdown_menu{
  visibility: visible;
}

.header-banner{
  height: 25rem;
}

.image-container{
  position: relative;
}

.image-container_abs{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.image{
  clip-path: circle(55% at 50% 65%);
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  translate: 0 -50%;
}

.body-padding{
  padding-top: 15rem;  
}

.backtoprev{
  width: 25rem;
}

.footer{
  height: 6rem;
  width: 100vw;
}