.bookbg{
    background: rgb(122, 60, 60);
    min-height: calc(100vh - 456px);
}

.cardlink{
    min-height: 32rem;
    width: 50rem;
    /* clip-path: polygon(0 0, 100% 0, 95% 0, 90% 100%, 0% 100%); */
    
}

.bodybottom{
    padding-bottom: 8rem;
}

.backtochar{
    width: 20rem;
}